.listContainer{
  padding: 3rem 2rem 1rem;
}
.listContainer header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.3rem, 2vw, 1.5rem);
  font-weight: 500;
  padding: 0.5rem;
  color: #777;
}
.deleteAllBtn{
  background-color: rgb(250, 129, 129);
  padding: 0.3rem;
  border-radius: 5px;
  font-size: clamp(0.5rem, 1vw, 1rem);
}
.deleteAllBtn:hover{
  background-color: rgb(255, 85, 85);
}

.sum{
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 700;
}
