.formContainer{
  padding: 2rem 1rem;
  border-bottom: 0.5px solid #777;
}

form{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.charge,.amount{
  font-size: clamp(0.3rem, 2vw, 1.5rem);
  display: flex;  
  align-items: center;
  gap: 1rem;
}

input{
  padding: clamp(0.1rem, 0.5vw, 0.5rem);
}

.addBtn{
  font-size: clamp(1rem, 3vw, 2rem);
  display: flex;
  justify-content: center;
}